{% extends 'base.html.twig' %}

{% block title %}
    List of events
{% endblock %}

{% block body %}
    <h2>Events</h2>
    {% for event in events %}
        <div>{{ event.fields.title_fr }}</div>
    {% endfor %}
{% endblock %}
