<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Accueil</a></li>
        <li><a href="{{ path('wish_list') }}">Liste de trucs</a></li>
        <li><a href="{{ path('main_about_us') }}">About us</a></li>
    </ul>
</nav>
