{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue sur le site BucketList</h1>
    <h2>liste de trucs à faire</h2>
    {% for wish in wishes %}
        <a href="{{ path('wish_detail', {'id': wish.id}) }}">{{ wish.title }}</a>
    {% endfor %}
{% endblock %}

{% block title %}
    bucket-list
{% endblock %}

