body {
    background-color: blanchedalmond;
}

img {
    height: 96px;
}

.flex-div {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

main {
    min-height: 70vh;
}
