body {
    background-color: blanchedalmond;
}

img {
    height: 96px;
}

.flex-div {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

main {
    min-height: 70vh;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

.flash-success {
    background-color: lawngreen
}

.form-error {
    color: red;
}
